* {
    font-family: 'Rubik', sans-serif;
    direction: rtl;
}

.banner {
    height: 95vh;
}

.icon-size{
    font-size: 18rem;
}

.product{
margin-top: 2rem;
}

.blog{
    background-color: rgba(0, 0, 0, 0.1);
}

textarea{
    resize: none;
}

@media screen and (max-width: 450.98px) {
    .banner {
        height: 95vh;
    }

    .icon-size{
        font-size: 12rem;
    }
}

@media screen and (min-width: 451px) and (max-width: 575.98px) {
    .banner {
        height: 100vh;
    }
}

/* sm  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .banner {
        height: 140vh;
    }
}

/* md  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .banner {
        height: 95vh;
    }
}

/* lg  */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .banner {
        height: 95vh;
    }

    .icon-size{
        font-size: 15rem;
    }
}

/* xl  */
@media screen and (min-width: 1200px) {
    .banner {
        height: 95vh;
    }
}
